.hero-section {
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.hero-section .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.hero-section .position-relative {
  z-index: 2;
}

.btn-purple {
  background-color: #4e598c;
  color: #f9c784;
  transition: all 0.3s ease;
  padding: 10px 20px;
  border-radius: 20px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  outline: none;
  border: none;
}

.btn-purple:hover {
  background-color: #f9c784;
  color: #ffffff;
}


.accordion-item .accordion-button:not(.collapsed) {
  background-color: #4e598c; /* Darker purple when open */
  color: #ffffff; /* White text for contrast */
}


.menu-toggle {
  display: none;
}

.hamburger {
  display: none;
  font-size: 24px;
  cursor: pointer;
  color: #4e598c;
}


.nav-links {
  display: flex;
  gap: 15px;
}


@media (max-width: 768px) {
  .nav-links {
      display: none;
      flex-direction: column;
      background-color: white;
      position: absolute;
      top: 60px;
      right: 0;
      width: 100%;
      padding: 10px;
      z-index: 1000;
  }

  .menu-toggle:checked + .hamburger + .nav-links {
      display: flex;
  }

  .hamburger {
      display: block; 
  }
}

.optional {
  color: gray;
  font-style: italic;
}

.white-link {
  color: #ffffff; 
  text-decoration: none; 
  transition: color 0.3s ease; 
}

.white-link:hover {
  color: #cccccc;
}

.welcome-title {
  color: white;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 10; 
}
