.dashboard {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.application-card-link {
    text-decoration: none; /* Remove underline */
    color: inherit; /* Inherit text color */
}

.application-card {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc; 
    border-radius: 8px; 
    padding: 20px; 
    width: 300px;
    height: 200px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    background-color: #fff;
    position: relative;
    transition: transform 0.2s, box-shadow 0.2s; 
    margin: 15px; 
}

.application-card:hover {
    transform: scale(1.03);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25); 
    background-color: #f9f9f9; 
}

.application-card h2 {
    font-size: 1.4em; 
    margin: 0 0 10px 0;
}

.application-card h3 {
    font-size: 1.1em;
    color: #555;
    margin-bottom: 8px; 
}

.application-card p {
    font-size: 1em; 
    margin: 6px 0; 
}


.status {
    padding: 5px 10px;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    position: absolute;
    bottom: 10px;
    right: 10px;
    display: inline-block;
    z-index: 1;
}

.status.a {
    background-color: rgba(0, 128, 0, 0.2);
    color: green;
}

.status.d {
    background-color: rgba(255, 0, 0, 0.2);
    color: red;
}

.status.p {
    background-color: rgba(255, 165, 0, 0.2);
    color: orange;
}

.status.i {
    background-color: rgba(0, 0, 255, 0.2);
    color: blue;
}

.btn-logout {
    display: inline-block;
    padding: 8px 15px;
    background-color: #ff4444;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    cursor: pointer;
    margin: 10px 0;
}

.btn-logout:hover {
    background-color: #cc0000;
}