{% extends "necysc_app/base.html" %}
{% load static %}
{% block title %} Applicant Portal {% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'necysc_app/applicant_home.css' %}">

<style>
    body {
        background-color: #f8f9fa;
        margin: 0;
        padding: 0;
        height: 100%;
        width: 100%;
        position: relative;
        overflow: hidden;
    }
    
    .background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: calc(100% - 150px); 
        z-index: -1;
        background-image: url("{% static 'necysc_app/images/necyscbannerimage.jpg' %}");
        background-size: cover;
        background-position: center;
        filter: blur(8px); 
    }

    .container {
        position: relative;
        z-index: 1; 
        background-color: rgba(255, 255, 255, 0.9); 
        padding: 20px;
        border-radius: 10px;
        max-width: 1200px;
        margin: auto;
        margin-top: 20px;
    }

    h1, p, a, button {
        position: relative;
        z-index: 2;
    }

    .button-container {
        display: flex;
        justify-content: center;
        align-items: flex-start; 
        height: 33vh; 
        margin-top: 5vh;
    }
    .content-container {
        display: flex;
        flex-direction: column; 
        justify-content: center; 
        align-items: center;
        height: 13vh; 
        margin-top: 5vh; 
    }

    .btn-purple {
        background-color: #4e598c;
        color: #f9c784;
        transition: all 0.3s ease;
        border: none;
        padding: 15px 30px; 
        cursor: pointer;
        font-size: 18px; 
        border-radius: 50px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); 
    }

    .welcome-title {
        font-size: 5rem; 
        text-align: center; 
        margin-bottom: 20px; 
        font-weight: bold;
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); 
    }

    .btn-purple:hover {
        background-color: #f9c784;
        color: #ffffff;
    }

    .enlarged-btn {
        transform: scale(1);
        transition: transform 0.3s ease;
    }

    .enlarged-btn:hover {
        transform: scale(1.2); 
    }
</style>

<div class="background"></div>


<div class="content-container">
    <h2 class="welcome-title">Welcome!</h2>
</div>

{% if applications %}
<div class="container mb-4">
    {% for application in applications %}
    <div class="card col-4 glow">
        <a href="{% url 'necysc_app:application_detail' application.id %}" class="application-card-link">
            <div class="card-body">
                <h5 class="card-title">
                    <span>{{ application.applicant_fname }} {{ application.applicant_lname }}</span>                                                 
                    {% if application.app_status == 'A' %}
                    <span class="badge bg-success float-end">Accepted</span>
                    {% elif application.app_status == 'P' %}
                    <span class="badge bg-secondary float-end">Pending</span>
                    {% else %}
                    <span class="badge bg-danger float-end">Rejected</span>
                    {% endif %}
                </h5>
                <hr>
                <p class="card-text fw-light">Year: {{ application.app_year }}</p>
                <p class="card-text m-0 fw-light">Health Status: {{ application.health_record_status }}</p>
            </div>
        </a>
    </div>
    {% endfor %}
</div>
{% endif %}

<div class="button-container">
    <a class="btn-purple enlarged-btn" href="{% url 'necysc_app:new_application' %}">Create new camper application</a>
</div>
{% endblock %}

{% block footer %}
<footer class="pt-4" id="contact">
    <h2 class="ps-5 mb-3 mt-5 text-center" style="color: white;">Connect With Us!</h2>
    <p class="ps-5 text-center" style="color: white;">General Inquiries:
        <a href="mailto:registration@necysc.org" style="color: white">registration@necysc.org</a>
    </p>
    <p class="ps-5 text-center" style="color: white;"> Director:
        <a href="mailto:director@necysc.org" style="color: white">director@necysc.org</a>
    </p>
    <p class="ps-5 text-center" style="color: white;"> Assistant Director:
        <a href="mailto:assistantdirector@necysc.org" style="color: white">assistantdirector@necysc.org</a>
    </p>
    <div class="row text-center align-items-center justify-content-center">
        <div class="col-auto">
            <a href="https://www.instagram.com/NECYSC/" target="_blank">
                <img src="https://cdn.freebiesupply.com/images/large/2x/instagram-icon-white-on-black.png" alt="Instagram Logo" style="width: 50px; height: auto;">
            </a>
        </div>
        <div class="col-auto">
            <a href="https://www.facebook.com/NECYSC" target="_blank">
                <img src="https://www.freepnglogos.com/uploads/logo-facebook-png/logo-facebook-facebook-logo-png-transparent-svg-vector-bie-supply-18.png" alt="Facebook Logo" style="width: 40px; height: auto;">
            </a>
        </div>
    </div>
    <div class="text-center p-4" style="color: white;">
        © 2024 Copyright.
        <a class="text-reset" href="https://necysc.org/">necysc.org</a>
    </div>
</footer>
{% endblock %}
