{% extends "necysc_app/base.html" %} {% load static %} {% block title %} Login /
Register {% endblock %} {% block content %}
<link rel="stylesheet" href="{% static 'necysc_app/login.css' %}" />

<div class="login_page">
    <!-- Login Form -->
    <div class="login_form">
        <h1>Welcome Back!</h1>
        <form method="POST" action="" class="login_form_body">
            {% csrf_token %}

            <!--name="username" because django authentication by default refers to username-->
            <div>
                <label for="id_email">Email</label>
                <input type="email" name="username" id="id_email" required>
            </div>
            <div>
                <label for="id_password">Password</label>
                <input type="password" name="password" id="id_password" required>
            </div>
            <input style="background-color: #4e598c; color: #f9c784; transition: all 0.3s ease; padding: 10px 20px;
                            border-radius: 20px;
                            display: inline-block;
                            text-align: center;" 
                    class="fw-bold" type="submit" value="Login" name="Login User">
        </form>
        
        {% if form.errors %}
        <div>
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>Invalid email or password.</strong> Please try again.
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
        </div>
        {% endif %}
    </div>

    <!-- Register Form -->
    <div class="register_form">
        <h4>Don't Have an Account?</h4>
        <h4>Sign up for the summer!</h4>
        <a class="white-link" href="{% url 'necysc_app:register' %}">Sign Up</a>
    </div>
    <script>
        var form_fields = document.getElementsByTagName('input')
        form_fields[1].placeholder = 'Email...';
        form_fields[2].placeholder = 'Enter password...';
        for (var field in form_fields) {
            form_fields[field].className += ' form-control'
        }
    </script>
</div>

{% endblock %}
