{% extends "necysc_app/base.html" %} 

{% load static %}

{% block title %} Register {% endblock %}

{% block content %}

<style>
    /* Register Page Container */
.register_page {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: row-reverse;
    height: 90vh;
}

/* Register Form Section */
.register_form {
    width: 50%;
    height: 100%;
    padding-left: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.register_form h1 {
    font-size: 50px;
}

.register_form_body {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
    flex-direction: column;
    width: 100%;
}

.register_form_body #id_username, 
.register_form_body #id_email, 
.register_form_body #id_password1, 
.register_form_body #id_password2 {
    width: 300px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

/* Login Redirect Section with Triangle */
.login_redirect {
    width: 50%;
    height: 100%;
    padding: 60px;
    padding-right: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-image: url("{% static 'necysc_app/images/night.png' %}");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1;
    color: white;
    flex-direction: column;
    gap: 50px;
    text-align: center;
    clip-path: polygon(0 0, 80% 0, 100% 100%, 0% 100%); /* Triangle shape */
}

.login_redirect::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.login_redirect h2 {
    font-size: 35px;
    z-index: 2;
}

.login_redirect p {
    font-size: 15px;
    z-index: 2;
}

.login_redirect a {
    border: 1px solid white;
    padding: 10px 20px;
    color: white;
    background-color: transparent;
    text-decoration: none;
    width: 350px;
    font-size: 15px;
    border-radius: 50px;
    transition: background-color 0.3s ease;
    z-index: 2;
}

.login_redirect a:hover {
    color: white;
    background-color: rgba(255, 255, 255, 0.3);
    z-index: 2;
}

.btn-purple {
    background-color: #4e598c;
    color: #f9c784;
    transition: all 0.3s ease;
    border: none;
    padding: 10px;
    cursor: pointer;
    width: 50%;
    border-radius: 50px;
  }
  
  .btn-purple:hover {
    background-color: #f9c784;
    color: #ffffff;
  }

</style>
<div class="register_page">
    <div class="register_form">
        <h2 style="color: #4e598c">Create Your Account</h2>
        <form method="POST" action="" class="register_form_body">
            {% csrf_token %}
            <div>
                {{ form.username.label }}
                {{ form.username }}
            </div>
            <div>
                {{ form.email.label }}
                {{ form.email }}
            </div>
            <div>
                {{ form.password1.label }}
                {{ form.password1 }}
            </div>
            <div>
                {{ form.password2.label }}
                {{ form.password2 }}
            </div>

            <input type="submit" class="fw-bold btn-purple" value="Register" name="Create User">
        </form>

        {% if form.errors %}
        <div>
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>Invalid email or password confirmation</strong> Please try again.
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
        </div>
        {% endif %}

    </div>
    <div class="login_redirect">
       <h2>Already have an account? </h2> 
       <p>Login to view your application!</p>
        <a href="{% url 'necysc_app:login' %}">Login</a>
    </div>
</div>

<script>
    var form_fields = document.getElementsByTagName('input');
    form_fields[1].placeholder = 'Username...';
    form_fields[2].placeholder = 'Email...';
    form_fields[3].placeholder = 'Enter password...';
    form_fields[4].placeholder = 'Re-enter password...';

    for (var i = 0; i < form_fields.length; i++) {
        form_fields[i].className += ' form-control';
    }
</script>

{% endblock %}
