{% extends "necysc_app/base.html" %} {% block title %} About Us {% endblock %}
{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'necysc_app/about.css' %}">

<section>
	<div class="hero-section shadow position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
		<div class="overlay"></div>
		<div class="col-md-6 p-lg-5 mx-auto my-5 position-relative container">
			<h1 class="display-3 fw-bold text-white">About Us</h1>
		</div>
	</div>
</section>

<section class="ms-md-5 me-md-5 mb-5 mt-5">
	<div id="aboutus" class="overlay">
	<div class="container">
		<h1 class="textleft"><i class="icon-right-circled"></i>About Us</h1>
		<p>
		Established in 1986, the New England Chinese Youth Summer Camp (NECYSC)
		is a non-profit organization run by dedicated parents and volunteers.
		Hosted at Brandeis University, our week-long summer camp is designed for
		youth aged 6 to 15. A range of programs - including Day, Overnight, and
		ExplorAsian - are provided, with the primary goal of nurturing cultural
		appreciation and fostering a strong community spirit.
		</p>
		<p>
		Our campers actively participate in cultural activities like Chinese
		Yo-yo, Kung-fu, and Calligraphy throughout the day. These are
		complemented by counselor-led events such as Carnival, Fun In The Sun,
		Talent Show, End-of-the-Week Dance, and the eagerly-awaited CIT Dress
		Up. Campers create life-long memories and friendships that go beyond the
		ordinary camp setting. As the week concludes, each group performs skills
		they learned during their time at NECYSC for friends and family members.
		</p>
	</div>

	<div class="bg-dark" style="height: 2px;"></div>
</section>

<section class="ms-md-5 me-md-5 mb-5 mt-5">
	<div class="container mb-5">
		<div id="meettheteam" class="overlay">
		<h1 class="textleft"><i class="icon-right-circled"></i>Meet the Team</h1>
			<div class="row g-4 pt-2">
				<div class="col-xl-3 col-md-6">
					<div class="card text-center border-0 bg-light">
						<div class="card-body px-4 py-4">
							<div class="mb-4 mx-2 mx-md-5"><img class="img-fluid rounded-circle" src="{% static 'necysc_app/images/headshots/chris_chiu.jpg'%}"></div>
							<h5 class="fw-bold">Christopher Chiu</h5>
							<div class="text-muted">
								Director
							</div>
						</div>
					</div>
				</div>
				<div class="col-xl-3 col-md-6">
					<div class="card text-center border-0 bg-light">
						<div class="card-body px-4 py-4">
							<div class="mb-4 mx-2 mx-md-5"><img class="img-fluid rounded-circle" src="{% static 'necysc_app/images/headshots/paul_eska.jpg'%}"></div>
							<h5 class="fw-bold">Paul Eska</h5>
							<div class="text-muted">
								Assistant Director
							</div>
						</div>
					</div>
				</div>
				<div class="col-xl-3 col-md-6">
					<div class="card text-center border-0 bg-light">
						<div class="card-body px-4 py-4">
							<div class="mb-4 mx-2 mx-md-5"><img class="img-fluid rounded-circle" src="{% static 'necysc_app/images/headshots/mikayla.jpg'%}"></div>
							<h5 class="fw-bold">Mikayla Tow</h5>
							<div class="text-muted">
								Head Counselor
							</div>
						</div>
					</div>
				</div>
				<div class="col-xl-3 col-md-6">
					<div class="card text-center border-0 bg-light">
						<div class="card-body px-4 py-4">
							<div class="mb-4 mx-2 mx-md-5"><img class="img-fluid rounded-circle" src="{% static 'necysc_app/images/headshots/charles.jpg'%}"></div>
							<h5 class="fw-bold">Charles Tang</h5>
							<div class="text-muted">
								Head Counselor
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="mt-4">
			<p class="fs-5"> More committee members are listed <a href="{% url 'necysc_app:staff' %}">here.</a></p>
		</div>
	</div>

	
	<div class="bg-dark" style="height: 2px;"></div>
</section>


<section class="ps-md-5 pe-md-5 mb-3 ">
	<div class="container">
		<h1 class="textleft" id="sponsors" >Sponsors</h1>
		<!-- grid of cards for each sponsor, each with glow animation -->
		<div class="row">
			<div class="col-md-4 mb-4">
				<div class="card glow h-100 d-flex flex-column">
					<div class="card-body">
						<h4 class="card-title">Tow Family</h4>
						<!-- hline -->
						<div class="bg-secondary mt-3 mb-3" style="height: 1px;"></div>
						<h5 class="card-text">Dragon Sponsor</h5>
						<p class="text-secondary">The Tow family honors Alana Tow's legacy by supporting NECYSC through the Alana for Allergies Memorial Fund, in remembrance of her summers as a camper and counselor, where she made lifelong friends.</p>
					</div>
				</div>
			</div>
			<div class="col-md-4 mb-4">
				<div class="card glow h-100 d-flex flex-column">
					<div class="card-body">
						<h4 class="card-title">Cultural Center of TECO in Boston</h4>
						<div class="bg-secondary mt-3 mb-3" style="height: 1px;"></div>
						<h5 class="card-text">Diamond Sponsor</h5>
						<p class="card-text text-secondary">Thank you for your generous support to Director Mr. Chris Liao!</p>
					</div>
				</div>
			</div>
			<div class="col-md-4 mb-4">
				<div class="card glow h-100 d-flex flex-column">
					<div class="card-body">
						<h4 class="card-title">Overseas Community Affairs Council (OCAC)</h4>
						<div class="bg-secondary mt-3 mb-3" style="height: 1px;"></div>
						<h5 class="card-text">Diamond Sponsor</h5>
						<p class="card-text text-secondary">Thank you for your generous support to Director Mr. Zhuren Pan!</p>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 mb-4">
				<div class="card glow h-100 d-flex flex-column">
					<div class="card-body">
						<h4 class="card-title">Greater Boston Chinese Culture Association (GBCCA)</h4>
						<!-- hline -->
						<div class="bg-secondary mt-3 mb-3" style="height: 1px;"></div>
						<h5 class="card-text">Diamond Sponsor</h5>
						<p class="text-secondary">Thank you for your generous support to Ms. Shirley Wong and Ms. Renne Liu!</p>
					</div>
				</div>
			</div>	
			<div class="col-md-4 mb-4">
				<div class="card glow h-100 d-flex flex-column">
					<div class="card-body">
						<h4 class="card-title">Summer Star Foundation</h4>
						<!-- hline -->
						<div class="bg-secondary mt-3 mb-3" style="height: 1px;"></div>
						<h5 class="card-text">Diamond Sponsor</h5>
						<p class="text-secondary">Thank you for your generous support to the Summer Star Foundation for allowing our campers to learn about local hunger relief initiatives at Land Sake Farm!</p>
					</div>
				</div>
			</div>	
			<div class="col-md-4 mb-4">
				<div class="card glow h-100 d-flex flex-column">
					<div class="card-body">
						<h4 class="card-title">Breger Family</h4>
						<!-- hline -->
						<div class="bg-secondary mt-3 mb-3" style="height: 1px;"></div>
						<h5 class="card-text">Diamond Sponsor</h5>
						<p class="text-secondary">Thank you for your generous support to the Breger Family!</p>
					</div>
				</div>
			</div>	
		</div>
		<div class="row">
			<div class="col-md-4 mb-4">
				<div class="card glow h-100 d-flex flex-column">
					<div class="card-body">
						<h4 class="card-title">Iridium Strategy Solutions</h4>
						<!-- hline -->
						<div class="bg-secondary mt-3 mb-3" style="height: 1px;"></div>
						<h5 class="card-text">Platinum Sponsor</h5>
						<p class="text-secondary">Thank you for your generous support to Andrew and Kim from Iridium Strategy Solutions!</p>
					</div>
				</div>
			</div>	
		</div>
	</div>
</section>

<section class="ps-md-5 pe-md-5 mb-3">
	<div class="container row">
		<div class="col-md-8">
			<h1 class="textleft" id="sponsors" >Featured Partner: The BOBA Project</h1>
			<p>The <strong style="color: #F9C784;">BOBA Project</strong> is a research initiative focused on understanding the experiences 
				and perspectives of Asian American teens, specifically those <u>aged 12-18</u>, 
				and their families. Conducted by a team from Brigham and Women's Hospital 
				and Harvard Medical School, the project aims to explore issues related to 
				identity, 
				<i>mental health, and the impact of discrimination</i> through surveys and 
				interactive Zoom sessions. 
			</p>
				
			<p>By facilitating open dialogues between teens 
				and their parents, 
				the BOBA Project seeks to uplift Asian American voices and foster community 
				connections while addressing the well-being of these families in a post-pandemic 
				context
			<p>
			<a class="btn-purple fw-bold px-4 py-2" href="https://www.thebobaproject.com/" target="_blank">Learn More</a>
		</div>
		<div class="col-md-4 justify-content-center align-items-center">
			<img src="{% static 'necysc_app/images/BOBA_logo.png' %}" alt="The BOBA Project" class="img-fluid">
		</div>
	</div>
</section>

<style>
	.glow {
		transition: box-shadow 0.3s ease-in-out;
		}
		
	.glow:hover {
	box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.15); /* Adjust the glow effect */
	}
</style>
{% endblock %}
