{% extends "necysc_app/base.html" %} {% block title %} About Us {% endblock %}
{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'necysc_app/about.css' %}">

<section>
<div class="hero-section position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
    <div class="overlay"></div>
    <div class="col-md-6 p-lg-5 mx-auto my-5 position-relative">
        <h1 class="display-3 fw-bold text-white">About Us</h1>
    </div>
</div>
</section>

<section class="ms-5 me-5 mb-5 mt-5">
<div id="aboutus" class="overlay">
	<h1 class="textleft"><i class="icon-right-circled"></i>About Us</h1>
	<p>
		Established in 1986, the New England Chinese Youth Summer Camp (NECYSC)
		is a non-profit organization run by dedicated parents and volunteers.
		Hosted at Brandeis University, our week-long summer camp is designed for
		youth aged 6 to 15. A range of programs - including Day, Overnight, and
		ExplorAsian - are provided, with the primary goal of nurturing cultural
		appreciation and fostering a strong community spirit.
	</p>
	<p>
		Our campers actively participate in cultural activities like Chinese
		Yo-yo, Kung-fu, and Calligraphy throughout the day. These are
		complemented by counselor-led events such as Carnival, Fun In The Sun,
		Talent Show, End-of-the-Week Dance, and the eagerly-awaited CIT Dress
		Up. Campers create life-long memories and friendships that go beyond the
		ordinary camp setting. As the week concludes, each group performs skills
		they learned during their time at NECYSC for friends and family members.
	</p>

	<div class="bg-dark" style="height: 2px;"></div>
</section>

	<section class="ps-5 pe-5 mb-3 ">
	<h1 class="textleft" id="sponsors" >Sponsors</h1>

	<div class="row">
		<h4 class="col-md-6">
			A Huge "THANK YOU" to All Sponsors!
		</h4>
		<ul class="col-md-6 text-left">
			<li>
				<a href="http://overseas.ocac.gov.tw/ocac/subsites/home.aspx?site=d51f7216-fecb-471d-a66e-0a4863f5343f" style="color: black; font-weight: normal;">Cultural Center of TECO</a>
			</li>
			<li>
				<a href="http://www.roc-taiwan.org/usbos_en/index.html" style="color: black; font-weight: normal;">Taipei Economic and Cultural Office in Boston (TECO)</a>
	
			</li>
			<li>
				<a href="http://www.gbcca.org/" style="color: black; font-weight: normal;">Huaxin Chinese School at Greater Boston Chinese Cultural Association (GBCCA)</a>
			</li>            
			<li>
				<a href="" style="color: black; font-weight: normal;">Freedom Crossing Film Festival</a>
			</li>            
			<!--links to be added later-->
			<li>
				<a href="" style="color: black; font-weight: normal;">Taiker Recreation</a>
			</li>
			<li>
				<a href="" style="color: black; font-weight: normal;">Summer Star Foundation for Nature, Art, and Humanity</a>
			</li>   
		</ul>
	</div>
</section>

	<section class="ps-5 pe-5 mb-3">
	<h1 class="textleft " id="contact">Contact Us</h1>

	<p> TODO: Add contact info here </p>
	</section>
</div>

{% endblock %}
