{% extends "necysc_app/base.html" %} {% block title %} Frequently Asked
Questions {% endblock %} {% block content %}

<style>
	/* TODO: add margins */
	.faq-subtitle {
		text-align: center;
		font-size: 1.5em;
		font-weight: bold;
	}
	.faq-question {
		font-weight: bold;
	}
	.faq-answer {
	}
</style>

<h1>FAQ</h1>

<div>
	<table>
		<tbody>
			<tr class="faq-subtitle">
				<td>Registration</td>
			</tr>
			<tr>
				<td>
					<p class="faq-question">What is the mailing address for forms and
							payment?</p>
                            <p class="faq-answer">For 2024, the mailing address is:<br />
						NECYSC<br />P.O. Box 615<br />Weston, MA 02493</p>
					</p>
				</td>
			</tr>
			<tr>
				<td>
					<p class="faq-question">Why do I need to submit all forms and payment
							during registration?</p>
						<p class="faq-answer">With more than 350 campers and CITs, our staff of
						volunteers must review every form before camp begins.
						That is why we require all forms to be sent with payment
						during registration. Campers will not be accepted until
						all required forms and payment are received. If you have
						difficulty to meeting the deadline due to special
						reasons, please contact
						<a href="mailto:registration@necysc.org"
							>registration@necysc.org</a
						>
					</p>
				</td>
			</tr>
			<!-- 					<tr class='questions'>
						<td><p>
								<strong>My camper is on the waiting list, when will I know if
									s/he will be admitted to camp?</strong><br> <br>We'll notify
								you as soon as a space becomes available.
							</p></td>
					</tr>
 -->
			<tr>
				<td>
					<p class="faq-question">Why can't you simply accept everyone who applies
							for camp?</p>
						<p class="faq-answer">There are many factors that affect the size of the
						camp, such as room availability, staff to camper ratio,
						and the number of campers our license permits us to
						have.
					</p>
				</td>
			</tr>
			<tr>
				<td>
					<p class="faq-question">How to register for ExplorAsian when not accepted
							as CIT?</p>
						<p class="faq-answer">For those who would like to register for
						ExplorAsian when not accepted as CIT:
					</p> 
					<p>
						1. Email
						<a href="mailto:registration@necysc.org"
							>registration@necysc.org</a
						>
						as soon as you know your status. Your program will not
						be changed automatically unless you notify Registration.
					</p>
					<p>
						2. Send in the tuition check for EA program and
						CORI/SORI/ID for the parent who will perform POD duty to
						NECYSC, P. O. Box 615, Weston, MA, 02493. The check for
						CIT program will be shredded.
					</p>
					<p>
						3. CIT applicants have priority to be accepted to EA
						program
					</p>
				</td>
			</tr>
			<!-- 					<tr class='questions'>
						<td><p>
								<strong>Why is it that my camper was placed on the waiting list
									while campers who registered after us were accepted?</strong><br>
								<br>We reserve spaces for returning campers who apply before the
								priority application date. After that date, enrolment is based
								on a first come, first served basis. However, due to space and
								resource limitations, we may have to adjust our acceptance and
								placement guidelines as necessary.
							</p></td>
					</tr>
 -->
			<tr>
				<td class="faq-subtitle">Leaving Camp, Early Check-out, Visits</td>
			</tr>
			<tr>
				<td>
					<p class="faq-question">Will campers be allowed to leave camp during the
							camp week?</p>
                    <p class="faq-answer">Campers will NOT be allowed to leave camp during
                    the week. This includes routine doctor's visits, sports
                    practices, rehearsals, etc. All routine/non-emergency
                    appointments should be scheduled outside of camp week.
                    Should an unforeseen situation arise, please advise the
                    camp director(s) who will make a case-by-case judgment.
					</p>
				</td>
			</tr>
			<tr>
				<td>
					<p class="faq-question">Can I check out my day early?</p>
                    <p class="faq-answer">We encourage campers to stay for the full week and
                    participate with their groups in the Closing Ceremonies.
                    However, under extenuating circumstances, prior to the
                    start of camp, parents can complete the Request for
                    Early Check-Out form from Registration. Parents will be
                    expected to complete the check-out procedure (room check
                    and meeting with the Nurse if retrieving medication)
                    within the designated early check-out hour on Friday
                    (Day Camp). Early check-out is only allowed during the
                    designated hour to ensure adequate staffing for the
                    process and to prevent disruption of ongoing camp
                    preparations for the Closing Ceremony.
					</p>
				</td>
			</tr>

			<tr class="faq-subtitle">
				<td>Health and Safety</td>
			</tr>
			<tr>
				<td>
					<p class="faq-question">My camper's annual physical exam is scheduled
							between registration and camp start date, what
							should I do?</p>
                    <p class="faq-answer">Because we can only process camper's application
                    when all required forms and payment are received, you
                    can register the camper using current health form, and
                    mail us the new form as soon as you have it. Our medical
                    staff has to go over every health form before camp
                    begins, and we cannot let camper join the group without
                    up-to-date health form. If you have difficulty meeting
                    the deadline due to special reasons, please contact
                    <a href="mailto:registration@necysc.org"
                        >registration@necysc.org</a
                    >
					</p>
				</td>
			</tr>
			<tr>
				<td>
					<p class="faq-question">What are immunization requirements?</p>
                    <p class="faq-answer">Please refer to
                    <a
                        href="https://www.mass.gov/info-details/massachusetts-law-about-vaccination-immunization#massachusetts-regulations-"
                        >regulations</a
                    >
                    from Mass Department of Public Health.
					</p>
				</td>
			</tr>
			<tr>
				<td>
					<p class="faq-question">What is meningococcal disease?</p>
                    <p class="faq-answer">Meningococcal disease is caused by infection with
                    bacteria. The Department of Public Health Division of
                    Community Sanitation issued Massachusetts Local Boards
                    of Health a memorandum dated June 22, 2010 requesting
                    that all recreational camp operators in our communities
                    are provided a copy of the fact sheet
                    <a href="files/meninge-camp-common-questions.pdf"
                        >"Meningococcal Disease and Camp Attendees: Commonly
                        Asked Questions"</a
                    >
                    to distribute to all parents or guardians of campers.
					</p>
				</td>
			</tr>
			<tr>
				<td>
					<p class="faq-question">What is a CORI and SORI?</p>
                    <p class="faq-answer">A CORI (Criminal Offender Record Information) is a
                    person's criminal history. A SORI (Sex Offender Registry
                    Information) is a record of convictions for specified
                    sexual offenses committed as an adult or juvenile.
					</p>
				</td>
			</tr>
			<tr>
				<td>
					<p class="faq-question">Why do we need to submit CORI/SORI for Parent on
							Duty (POD) or field trip chaperone?</p>
                    <p class="faq-answer">NECYSC is committed to providing a safe and secure
                    environment for our campers, volunteers, and staff. Our
                    policy states that anyone in contact with campers must
                    undergo CORI and SORI background checks. Any person who
                    has not satisfactorily met the requirements may not
                    serve as POD and field trip chaperone.
					</p>
				</td>
			</tr>

			<tr class="faq-subtitle">
				<td>General</td>
			</tr>
			<tr>
				<td>
					<p class="faq-question">Where do I obtain the receipt for past year's camp
							fee?</p>
                    <p class="faq-answer">You can retrieve a receipt for the camp fee
                    <a
                        href="http://necysc.org/application/camper_check_tax_receipt.php"
                        >online</a
                    >
                    using your security code. Please note that if you
                    received a refund for referring new families to camp,
                    your receipt will reflect the discounted amount.
					</p>
				</td>
			</tr>
			<tr>
				<td>
					<p class="faq-question">What is your Tax ID, and how do I get it?</p>
                    <p class="faq-answer">Our Tax ID is printed on the camp receipt and
                    donation letter. You can retrieve receipt
                    <a
                        href="http://necysc.org/application/camper_check_tax_receipt.php"
                        >online</a
                    >. Donation letter will be mailed or emailed after the
                    camp. If you have not received it, please contact
                    <a href="mailto:registration@necysc.org"
                        >registration@necysc.org</a
                    >
					</p>
				</td>
			</tr>
			<tr>
				<td>
					<p class="faq-question">How do I prevent email from NECYSC from being
							treated as spam by my email server?</p>
                    <p class="faq-answer">NECYSC depends heavily on email to communicate
                    important information to and from the campers' family.
                    To prevent some of the email servers from treating our
                    messages as spam, click
                    <a href="files/ADD_NECYSC_TO_SAFE_LIST.pdf">here</a>
                    for details on how to add NECSYC.org to the safe list.
                    Also, please make sure that your email address(es) are
                    correct on your application form. NECYSC is not
                    responsible for undeliverable email due to incorrect
                    email address(es).
					</p>
				</td>
			</tr>

			<tr class="faq-subtitle">
				<td>Camp Activities</td>
			</tr>
			<tr>
				<td>
					<p class="faq-question">Is knowing how to speak Chinese necessary at camp?
							If my child does not know Chinese, will they fit
							in?</p>
                    <p class="faq-answer">It is not necessary to know Chinese to attend
                    NECYSC. The majority of classes are taught in English.
                    The only exception is the 3 - 4 teachers from Taiwan who
                    only speak Mandarin. However, there is always a CIT or
                    Counselor in class to translate. Not everyone at camp
                    can speak Chinese; some speak Cantonese, some speak
                    Mandarin, some only speak English.
					</p>
				</td>
			</tr>
			<tr>
				<td>
					<p class="faq-question">What types of sports or outside activities are
							offered at camp?</p>
                    <p class="faq-answer">Folk sports such as Chinese Yo-Yo, Kung Fu,
                    Juggling, Folk Dance and Jump Rope are typically
                    offered. Swimming classes are held in Brandeis
                    University indoor pool. We have also offered volleyball
                    and table tennis in the past. Weather permitting, a
                    field day with fun outdoor activities is held every
                    year. There are plenty of opportunities for your camper
                    to be outside and get some exercise!
					</p>
				</td>
			</tr>
			<tr>
				<td>
					<p class="faq-question">What if my camper is a novice in swimming?</p>
                    <p class="faq-answer">Every camper has the option not to swim. NECYSC
                    staff supervises campers who do not want to swim.
                    Brandeis University provides certified lifeguards who
                    monitor the pool during swim classes. A swim test is
                    given to the campers during their first swim class.
                    Furthermore, Counselors and CITs are always in the pool
                    with the campers.
					</p>
				</td>
			</tr>

			<tr class="faq-subtitle">
				<td>Statements and Other Questions</td>
			</tr>
			<tr>
				<td>
					<p class="faq-question">What is NECYSC's policy on Sexual Assault Awareness
							and Prevention?</p>
                    <p class="faq-answer">See
                        <a href="files/SA-Statement-from-Head-Counselors.pdf"
                            >statement</a
                        >
                        from NECYSC Head Counselor Team.
					</p>
				</td>
			</tr>

			<tr>
				<td>
					<p class="faq-question">Didn't find the answer to your question here? </p>
                    <p class="faq-answer">You can go to our
						<a href="contact.php">contact page</a> to determine the
						best team to ask. Or drop us a line and we'll direct
						your question/comment to the best person.
					</p>
				</td>
			</tr>
		</tbody>
	</table>
</div>

{% endblock %}
