{% extends "necysc_app/base.html" %}

{% block title %} Programs {% endblock %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'necysc_app/programs.css' %}">

<div class="hero-section position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
    <div class="overlay"></div>
    <div class="col-md-6 p-lg-5 mx-auto my-5 position-relative">
        <h1 class="display-3 fw-bold text-white">Programs For Campers</h1>
        <h3 class="fw-normal text-light mb-4">Explore our Immersive Programs</h3>
    </div>
</div>
<div class="container px-4 py-5" id="why-join-us">
    <h2 class="pb-2 border-bottom">Why Join Us</h2>
    <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">

        <div class="col">
            <div class="card why-join-card card-1 h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg">
                <div class="text-content">
                    <h3 class="display-6 lh-1 fw-bold">Engage with Nature</h3>
                    <p>Discover the beauty of the outdoors with hands-on activities that foster a deep connection with
                        nature.</p>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card why-join-card card-2 h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg">
                <div class="text-content">
                    <h3 class="display-6 lh-1 fw-bold">Learn Valuable Skills</h3>
                    <p>Our programs emphasize teamwork, resilience, and leadership, preparing campers for the future.
                    </p>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card why-join-card card-3 h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg">
                <div class="text-content">
                    <h3 class="display-6 lh-1 fw-bold">Build Lifelong Friendships</h3>
                    <p>Campers forge connections that go beyond camp, creating memories that last a lifetime.</p>
                </div>
            </div>
        </div>

    </div>
</div>


<div class="container my-5">
    <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
        <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
            <h1 class="display-6 fw-bold lh-1 text-body-emphasis" style="color: #512da8;">
                <span style="font-size: 2rem;">→</span> Day Camp
            </h1>
            <ul class="list-unstyled mb-3">
                <li><strong>Ages:</strong> 6-10 years old</li>
                <li><strong>Dates:</strong> July 29 - August 2, 2024</li>
                <li><strong>Time:</strong> 8:30am - 5:00pm</li>
                <li><strong>Program Fee:</strong> $900</li>
            </ul>
            <p class="lead">
                Throughout the day, day campers travel in their groups to classes and activities, such as Chinese yo-yo,
                cooking, swimming, and arts and crafts. The week kicks off with a Carnival on Monday and ends with a
                Closing Ceremony on Friday during which campers perform what they’ve learned. Lunch and snacks included.
            </p>
            <a href="#" class="btn btn-primary fw-bold" style="color: #fff;">Registration</a>
        </div>
        <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg">
            <img class="rounded-lg-3" src="{% static 'necysc_app/images/swim.png' %}" alt="ExplorAsian Image"
            width="720">
        </div>
    </div>
</div>

<div class="centered-section px-4 pt-5 my-5 text-center border rounded-3 shadow-lg">
    <div class="overlay"></div>
    <h1 class="display-4 fw-bold position-relative" style="color: #512da8; font-size: 3rem;">→Overnight Camp←</h1>
    <div class="col-lg-6 mx-auto position-relative">
        <ul class="list-unstyled mb-3">
            <li><strong>Ages:</strong> 10-14 years old</li>
            <li><strong>Dates:</strong> July 28 - August 3, 2024</li>
            <li><strong>Program Fee:</strong> $1,800</li>
        </ul>
        <p class="lead mb-4">During the day, campers travel in their groups to class and activities learning about
            Chinese culture and preparing for the end-of-the-week Closing Ceremony. At night, campers attend exciting
            evening activities, including the Talent Show, Carnival, CIT Dress-Up, and Movie Nights!</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
            <a href="#" class="btn btn-primary fw-bold" style="color: #fff;">Registration</a>
        </div>
    </div>
    <div class="overflow-hidden" style="max-height: 30vh;">
        <div class="container px-5">
            <img src="{% static 'necysc_app/images/night.png' %}" class="img-fluid border rounded-3 shadow-lg mb-4"
                alt="Example image" width="700" height="500" loading="lazy">
        </div>
    </div>
</div>



<div class="container my-5">
    <div class="row pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
        <div class="col-lg-4 p-0 overflow-hidden shadow-lg">
            <img class="rounded-lg-3" src="{% static 'necysc_app/images/king.png' %}" alt="Day Camp Image" width="720">

        </div>
        <div class="col-lg-7 p-3 p-lg-5 pt-lg-3 text-end ms-auto">
            <h1 class="display-6 fw-bold lh-1" style="color: #512da8;">
                ExplorAsian <span style="font-size: 2rem;">←</span>
            </h1>
            <ul class="list-unstyled mb-3">
                <li><strong>Ages:</strong> 14-16 years old</li>
                <li><strong>Dates:</strong> July 28 - August 3, 2024</li>
                <li><strong>Program Fee:</strong> $1,800</li>
            </ul>
            <p class="lead">
                Established in 2002, ExplorAsian is usually a week-long, overnight program for students aged 14 to 16
                who are interested in exploring Chinese-American identity and related issues, building leadership
                skills, and meeting new people. The goal is to empower youth to become leaders in their communities.
            </p>
            <a href="#" class="btn btn-primary fw-bold" style="color: #fff;">Registration</a>
        </div>


    </div>
</div>




{% endblock %}