<!-- Footer -->
<footer>

  <h2 class="ps-5 mb-3">Connect With Us!</h2>
    <div class="row ps-5 pe-5 mb-3">
      <p class="col-md-6">Main Email: registration@necysc.org</p>
      <!--    make this insta and facebook link later <a href="/applicant/register" class="col-md-4 mt-4 offset-2 btn btn-dark" style="height: 35px">
          REGISTER FOR THE SUMMER!
      </a>-->

    </div>
  <!-- Copyright -->
  <div class="container"></div>
  <div class="text-center p-4">
    © 2024 Copyright.
    <a class="text-reset" href="https://necysc.org/">necysc.org</a>
  </div>

  <!-- Copyright -->

  <!-- Contact info, social media links, etc. -->
  <div class="text-center p-4">
    contact info, social media links, etc.
    
  </div>
  <!-- Contact info, social media links, etc. -->

</footer>
<!-- Footer -->
