<!-- Footer -->
<footer>

  <h2 class="ps-5 mb-3">Connect With Us!</h2>
  <p class="col-md-6 ps-5"> Main Email:
    <a href="mailto:registration@necysc.org" style="color: black">registration@necysc.org</a>
  </p>

  <div class="row ms-5">
    <div class="col-auto">
        <a href="https://www.instagram.com/NECYSC/" style="display: inline-block;" target="_blank">
            <img src="https://cdn.freebiesupply.com/images/large/2x/instagram-icon-white-on-black.png" alt="Instagram Logo" style="width: 50px; height: auto;">
        </a>
    </div>
    <div class="col-auto">
      <a href="https://www.facebook.com/NECYSC" style="display: inline-block;" target="_blank">
          <img src="https://www.freepnglogos.com/uploads/logo-facebook-png/logo-facebook-facebook-logo-png-transparent-svg-vector-bie-supply-18.png" alt="Facebook Logo" style="width: 40px; height: auto;">
      </a>
    </div>
  </div>


  <!-- Copyright -->
  <div class="container"></div>
  <div class="text-center p-4">
    © 2024 Copyright.
    <a class="text-reset" href="https://necysc.org/">necysc.org</a>
  </div>

</footer>
<!-- Footer -->
