.staff-section {
    position: relative;
    background-image: url("./images/fans.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.staff-section .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1;
}

.staff-section .position-relative {
    z-index: 2;
}

